h1 {
    font-size: 92px;
    font-family: inter;
    font-weight: 800;
    margin-top: 40px;
    margin-left: 378px;
    margin-right: 378px;
    letter-spacing: -3.68px;
    text-transform: uppercase;
    width: 684px;
}

.img-triangles {
    margin-top: 40px;
    margin-left: 53px;
    margin-right: 1073px;
    width: 213.347px;
    height: 204.657px;
}

.img-circles {
    margin-top: 40px;
    margin-left: 28px;
    width: 40px;
    height: 23px;
    flex-shrink: 0;
}

h2 { 
    font-family: Inter;
    font-size: 78px;
    font-style: normal;
    font-weight: 800;
    line-height: 84%; /* 65.52px */
    letter-spacing: -3.12px;
    text-transform: uppercase;
    width: 684px;
}

h4 {
    font-family: "Roboto Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 17.6px */
    text-transform: uppercase;
    width: 327px;
}

nav p {   
font-family: Roboto;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 13px */
text-transform: uppercase;
width: 77px;
}

.img-banner {
    width: 1440px;
height: 810px;
flex-shrink: 0;
}

.img-glasses {
    width: 452px;
    height: 452px;
    flex-shrink: 0;
}